@import url("modal.css");
html{
    
    background:url("../img/all.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    margin: 0px;
    padding: 0px;
    width: 98vw;
    height: 100vh;
    /* background-image: url("../img/all.svg");
    background-size: cover;
    background-attachment: fixed; */
    
}
main{
    width: 90%;
    margin: auto;
}
header{
    width: 50%;
    margin: 5px auto;
}
#resul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;

}
.card{
    width: 300px;
    display: flex;
}
.block-a{
    padding: 0px;
    margin: 0px;
}
.block-b{
    padding: 0px;
    margin: 0px;
}
.block-a img{
    width: 100%;
}
.p{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
