html,body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
#result{
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 300px;
    display: flex;
    background-color: rgba(137, 43, 226, 0.534);
}
.block-a{
    padding: 0px;
    margin: 0px;
}
.block-b{
    padding: 0px;
    margin: 0px;
}
.block-a img{
    width: 100%;
}
.p{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
