@import url("modal.css");
html{
    
    background-image: url("../img/all.svg");
    background-size: cover;
    background-attachment: fixed; 
}
body{
    margin: 0px;
    padding: 0px;
    width: 98vw;
    height: 100vh;
    /* background-image: url("../img/all.svg");
    background-size: cover;
    background-attachment: fixed; */
    
}
main{
    width: 90%;
    margin: auto;
}
header{
    width: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header inpu[type="image"]{
    width: 100%;
}
#searchCLick{
    background-color: white;
    border-radius: 0px 19px 19px 0px;
    height: 50px;
}
#search{
    padding: 10px;
    border-radius: 19px 0px 0px 19px;
    height: 50px;
    text-align: center;
    background-color: white;
    outline: none;
    border: none;
}
#resul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;

}
.card{
    width: 300px;
    display: flex;
}
.block-a{
    padding: 0px;
    margin: 0px;
}
.block-b{
    padding: 0px;
    margin: 0px;
}
.block-a img{
    width: 100%;
}
.p{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.page{
    display: block;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}
.page.hidde{
   display: none;
}

.page.last::before{
    content: "...";
}
.page.first::after{
    content: "...";
}
.page.selects{
    color: white;
    background-color: rgb(6, 145, 36);
}
.page.no-selects{
    background-color: rgb(7, 7, 7);
    color: white;
    
}
#pages{
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
